*.exe
*.exe~
*.dll
*.so
*.dylib
weather-cli
WeatherTUI-Go

*.test
*.out

logs/
*.log

.vscode/
#.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace

.idea/
*.iws
*.iml
*.ipr
/out/

.DS_Store
Thumbs.db

weather-tui.*